<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nowcoder.community.mapper.DiscussPostMapper">

    <sql id="selectFields">
        id,user_id,title,content,type,status,score,create_time,comment_count
    </sql>

    <sql id="insertFields">
        user_id,title,content,type,status,score,create_time,comment_count
    </sql>

    <select id="getPosts" resultType="DiscussPost">
        select <include  refid="selectFields"></include>
        from discuss_post where status!=2
        <if test="userId!=0"> and user_id=#{userId}</if>
        order by type desc, create_time desc
        limit #{offset},#{limit}
    </select>

    <select id="countPost" resultType="int">
        select count(id)
        from discuss_post where status!=2
        <if test="userId!=0"> and user_id=#{userId}</if>
    </select>

    <insert id="addPost">
        insert  into discuss_post (<include refid="insertFields"></include>)
        values (#{userId},#{title},#{content},'0','0','0',NOW(),'0')
    </insert>
        
     <select id="getPostById" resultType="DiscussPost">
        select <include refid="selectFields"></include>
        from discuss_post where id=#{id}
    </select>
</mapper>
